.scoreboard {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4rem);
  max-width: 80rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  padding: 0 2rem;
  font-family: 'EmberCondensedBold', sans-serif;
  font-size: 1.6rem;
  color: white;
  z-index: 3000;
  pointer-events: none;
}

.scoreboard-left {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin-left: 2rem;
  font-size: 1.6rem;
}

/* Nuova pillola */
.scoreboard-pill {
  display: flex;
  border-radius: 999px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border: 0.4rem solid #00688d;
}

.pill-left,
.pill-right {
  padding: 0.4rem 0rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  height: 2.1rem; 
}

/* Colori */
.pill-left {
    color: #00688d;
    background-color: #ffffff;  
}

.pill-right {
background-color: #00688d;  
color: white;
}

.pill-value {
  margin-right: 0.4rem;
}

.pill-label{
  font-size: 1rem;
}