/* src/react/SlotOverlay.css */

.slot-overlay {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  z-index: 2000;
  pointer-events: auto;
  justify-content: center;
  align-content: start;
}

.slot-button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(5, 166, 224, 0.2);
  border: 3px solid #05A6E0FF;
  border-radius: 0.5rem;
  font-family: 'EmberCondensedBold', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.8s ease;
  position: relative;
}

.slot-button.occupied {
  background-color: rgba(5, 166, 224, 0); /* transizione a trasparente */
}

.slot-button:hover {
  background-color: rgba(5, 166, 224, 0.6);
}

/* Pallino al centro dello slot */
.slot-dot {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #05A6E0FF;
  transform: translate(-50%, -50%);
  transition: opacity 0.6s ease;
  opacity: 1;
}

/* Ring interno */
.slot-dot-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  background: transparent;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

/* Quando lo slot è occupato → nasconde pallino */
.slot-button.occupied {
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* Slot marcati come errore: bordo rosso + sfondo tenue */
.slot-button.error {
  border: 3px solid #FF4C4AFF;  
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  transition: opacity 1s ease;
  opacity: 1;
}

.slot-error-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  background: #FF4C4AFF;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: opacity 1s ease;
  opacity: 1;
}

.slot-error-x {
  color: #fff;
  font-size: 3rem;
  font-weight: 400; /* più sottile */
  font-family: 'EmberCondensedBold', sans-serif;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  transition: opacity 1s ease;
  opacity: 1;
}
